<body ng-app="homeApp">
    <div class="wrap banner">
        <div class="index-slider">
            <div class="index-slide fakeimg"><img src="assets/images/homeImg.jpg" alt="Photo" class="wrap">
                <!--                <div class="banner-absolute">
                                    <div class="banner-text wow fadeInUp">
                                        <h2><span>BURNS CARE</span></h2>
                                        <p>In MSBS Hospital Burns care service is managed by a multidisciplinary committed team of experts comprising of  senior experienced plastic surgeons,  intensivist,  general physicians ,emergency physician, psychiatrist, physiotherapist, dietician and Nurses with special training and caring for burn patients.</p>
                                        <a href="burns-care.php">Know More</a> 
                                    </div>
                                </div>-->
            </div>
            <div class="index-slide fakeimg"><img src="assets/images/homeImg1.jpg" class="wrap" style="height: 100%">
                <!--                <div class="banner-absolute">
                                    <div class="banner-text">
                                        <h2><span>ICU CARE</span></h2>
                                        <p>At MSBS Hospital, we take the words Intensive care seriously. Intensive Care Units provide high
                                            chances of survival for critically ill patients. It is a multiprofessional speciality that caters to patients with
                                            life threatening illness or injuries.</p>
                                        <a href="ICU-care.php">Know More</a> 
                                    </div>
                                </div>-->
            </div>
            <div class="index-slide fakeimg"><img src="assets/images/homeImg2.jpg" class="wrap" style="height: 100%">
                <!--                <div class="banner-absolute">
                                    <div class="banner-text">
                                        <h2><span>ONCO SURGERY</span></h2>
                                        <p>Cancer was a dreaded disease and however with sustained improvements in knowledge, expertise and
                                            technologies, most of the cancers are now curable if detected and treated early. Early detection brought
                                            about by increased awareness and advanced diagnostic methods have ensured a high rate of survival.</p>
                                        <a href="ONCO-SURGERY.php">Know More</a> 
                                    </div>
                                </div>-->
            </div>
            <div class="index-slide fakeimg"><img src="assets/images/homeImg3.jpg" class="wrap" style="height: 100%">
                <!--                <div class="banner-absolute">
                                    <div class="banner-text">
                                        <h2><span>LAPROSCOPIC GASTROINTESTINAL SURGERY</span></h2>
                                        <p> MSBS Hospital, has the best laparoscopic surgeons in Bangalore, who have eminent experience of treating numerous patients successfully in Bangalore. Our Laproscopic surgeons believes that patient safety comes first and hence strives to provide exceptional service to patients. </p>
                                        <a href="Gi-Surgery-Laproscopic-Surgery.php">Know More</a> 
                                    </div>
                                </div>-->
            </div>
            <div class="index-slide fakeimg"><img src="assets/images/homeImg4.jpg" class="wrap" style="height: 100%">
                <!--                <div class="banner-absolute">
                                    <div class="banner-text">
                                        <h2><span>TRAUMA & ORTHOPEDIC SURGERY</span></h2>
                                        <p>MSBS Hospital Trauma center has the infrastructure to handle patients with complex trauma and deals
                                            with the management of primary trauma, neglected trauma and polytrauma or serious injuries which are
                                            life threatening and could result in serious disability or death.</p>
                                        <a href="TRAUMA-&-ORTHOPEDICS-SURGERY.php">Know More</a> 
                                    </div>
                                </div>-->
            </div>
            <div class="index-slide fakeimg"><img src="assets/images/homeImg5.jpg" class="wrap" style="height: 100%">
                <!--                <div class="banner-absolute">
                                    <div class="banner-text">
                                        <h2><span>PLASTIC & COSMETIC SURGERY</span></h2>
                                        <p>MSBS Hospital is at the forefront of plastic surgery and reconstructive surgery. The MSBS Hospital
                                            Plastic surgery consultants team offers correction or restoration of form and function of a part of the body,
                                            treatment of burns, post burns sequele</p>
                                        <a href="PLASTIC-&-COSMETIC-SURGERY.php">Know More</a> 
                                    </div>
                                </div>-->
            </div>
            <div class="index-slide fakeimg"><img src="assets/images/homeImg6.jpg" class="wrap" style="height: 100%">
                <!--                <div class="banner-absolute">
                                    <div class="banner-text">
                                        <h2><span>VASCULAR SURGERY</span></h2>
                                        <p>Vascular Surgery is a surgical speciality that focuses on effective diagnosis and treatment of damaged or
                                            diseased blood vessels, arteries, veins and the lymphatic system.</p>
                                        <a href="VASCULAR-SURGERY.php">Know More</a> 
                                    </div>
                                </div>-->
            </div>
            <div class="index-slide fakeimg"><img src="assets/images/homeImg8.jpg" class="wrap" style="height: 100%">
                <!--                <div class="banner-absolute">
                                    <div class="banner-text">
                                        <h2><span>WE DELIVER</span></h2>
                                        <p style="padding:0;">COMPASSIONATE, QUALITY  PATIENT CENTERED CARE</p>
                                    </div>
                                </div>-->
            </div>
        </div>
    </div>

    <!--    <div class="ipn0 ipn7">
            <div class="wrapper">
                <h2>Our Specialities</h2>
                <div class="block-left services-slider">
                    <div class="block">
                        <img src="images/b1.png">
                        <h3>PLASTIC & RECONSTRUCTIVE SURGERY</h3>
                        <p>Medcare Hospital is at the forefront of plastic surgery and reconstructive surgery. The Medcare Hospital Plastic surgery consultants team..</p>
                        <a href="PLASTIC-&-COSMETIC-SURGERY.php">Read More</a></div>
    
                    <div class="block"> 
                        <img src="images/b2.png">
                        <h3>COSMETIC SURGERY</h3>
                        <p>Medcare believes in a holistic approach to cosmetic beauty world, and use a combination of surgical and nonsurgical procedures to deliver..</p>
                        <a href="PLASTIC-&-COSMETIC-SURGERY.php">Read More</a></div>
    
                    <div class="block"> 
                        <img src="images/b3.png">
                        <h3>BURNS CARE</h3>
                        <p>In MEDCARE Hospital Burns care service is managed by a multidisciplinary committed team of experts comprising of senior experienced plastic..</p>
                        <a href="burns-care.php" target="_blank">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b4.png">
                        <h3>MAXILLOFACIAL SURGERY</h3>
                        <p>Maxillofacial Surgery is a speciality that focuses on diagnosis and management of diseases, deformities and injuries of oral cavity, face...</p>
                        <a href="Maxillofacial-Surgery.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b5.png">
                        <h3>VASCULAR SURGERY</h3>
                        <p>Vascular Surgery is a surgical speciality that focuses on effective diagnosis and treatment of damaged or diseased blood vessels, arteries.</p>
                        <a href="VASCULAR-SURGERY.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b6.png">
                        <h3>TRAUMA & ORTHOPEDICS</h3>
                        <p>Medcare Hospital Trauma center has the infrastructure to handle patients with complex trauma and deals with the management of primary..</p>
                        <a href="TRAUMA-&-ORTHOPEDICS-SURGERY.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b24.png">
                        <h3>Neurology & Neurosurgery</h3>
                        <p>At Medcare Hospital, Neurologists and Neurosurgeons provide the best treatment solutions for the most complex neurological disorders...</p>
                        <a href="Neurology-&-Neurosurgery.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b7.png">
                        <h3>ONCOLOGY & ONCOSURGERY</h3>
                        <p>Cancer was a dreaded disease and however with sustained improvements in knowledge, expertise and technologies, most of the cancers are..</p>
                        <a href="ONCO-SURGERY.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b8.png">
                        <h3>GASTROENTEROLOGY</h3>
                        <p>Most or nearly all gastrointestinal surgery laparoscopic approach has become the gold standard of care around the world...</p>
                        <a href="Gi-Surgery-Laproscopic-Surgery.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b9.png">
                        <h3>MINIMAL ACCESS SURGERY</h3>
                        <p>Medcare Hospital, has the best laparoscopic surgeons in Bangalore, who have eminent experience of treating numerous patients successfully...</p>
                        <a href="Gi-Surgery-Laproscopic-Surgery.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b10.png">
                        <h3>LAPROSCOPIC SURGERY</h3>
                        <p>Medcare Hospital, has the best laparoscopic surgeons in Bangalore, who have eminent experience of treating numerous patients successfully...</p>
                        <a href="Gi-Surgery-Laproscopic-Surgery.php">Read More</a></div>
    
                    <div class="block"> 
                        <img src="images/b11.png">
                        <h3>INTERNAL MEDICINE</h3>
                        <p>Internal medicine deals with the prevention, diagnosis and provides primary care services for a wide range of health problems...</p>
                        <a href="internal-medicine.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b12.png">
                        <h3>GENERAL SURGERY</h3>
                        <p>General surgery is a speciality dealing with pre-operative, operative and post-operative management of surgical problems of all kinds...</p>
                        <a href="general-surgery.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b13.png">
                        <h3>OBSTETRICS & GYNAECOLOGY</h3>
                        <p>In Medcare Hospital,  the team of experienced and qualified Obstestricians and Gynecologist provide OPD consultation services..</p>
                        <a href="OBG.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b14.png">
                        <h3>ENT</h3>
                        <p>In MEDCARE Hospital, ENT surgeons aims to provide comprehensive treatment  to patients with ear, nose and throat problems...</p>
                        <a href="ENT.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b15.png">
                        <h3>OPTHALMOLOGY</h3>
                        <p>Medcare Hospital offers basic Eye Check-ups.  The Outpatient clinic cater to diverse eye diseases. Preventive eye check-up emphasises...</p>
                        <a href="opthalmology.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b16.png">
                        <h3>DERMATOLOGY</h3>
                        <p>The dermatologist at Medcare Hospital, understands the importance of proper skin care for retaining its radiance and beauty...</p>
                        <a href="dermatology.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b17.png">
                        <h3>PSYCHIATRY</h3>
                        <p>Urbanization, changing lifestyles, the pressures on young people and loneliness among elders have become significant mental health...</p>
                        <a href="Psychiatry.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b19.png">
                        <h3>CARDIOLOGY</h3>
                        <p>Health problems can be managed more effectively if detected early. Also regular heart check ups are always recommended to keep a check...</p>
                        <a href="cardiology.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b20.png">
                        <h3>PULMONOLOGY</h3>
                        <p>Pulmonology is a sub-specialty of Internal Medicine that deals with the health of the respiratory tract. The load of pulmonary disorders...</p>
                        <a href="pulmonology.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b21.png">
                        <h3>NEPHROLOGY & UROLOGY</h3>
                        <p>Medcare Hospital, offer a wide range of treatment options in the field of Nephrology and Urology. We have best specialist, who works...</p>
                        <a href="Nephrology.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b22.png">
                        <h3>DIABETOLOGY & ENDOCRINOLOGY</h3>
                        <p>An large percentage of the population across the world, suffers from diabetes and its related problems. The modern sedentary lifestyle has...</p>
                        <a href="Diabetology-&-Endocrinology.php">Read More</a> </div>
    
                    <div class="block"> 
                        <img src="images/b23.png">
                        <h3>PHYSIOTHERAPY</h3>
                        <p>Medcare Hospital provides wide range of physiotherapy and rehabilitation services. Our experienced  physiotherapist provides services to</p>
                        <a href="physiotheraphy.php">Read More</a> </div>
                </div>
            </div>
        </div>-->


    <!-------------------------style cards------------------------>
    <section id="team" class="pb-5">
        <div class="ipn0 isc0">
            <div class="wrapper">
                <h5 class="section-title h1">OUR FACILITIES</h5>
                <!--            <h3 class="pb-3 mb-4">
                                Card Styles
                            </h3>-->
                <div class="block-left services-slider">
                    <div class="block">
                        <div class="card mb-4">
                            <img class="card-img-top" src="assets/images/flower.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title1</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-dark btn-sm">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="card mb-4 border-dark">
                            <img class="card-img-top" src="assets/images/flower.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title2</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="http://www.jquery2dotnet.com/" class="btn btn-dark btn-sm">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="card mb-4 text-white bg-dark">
                            <img class="card-img-top" src="assets/images/flower.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title3</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-light btn-sm">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="card mb-4 text-white bg-dark">
                            <img class="card-img-top" src="assets/images/flower.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title4</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-light btn-sm">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="card mb-4 text-white bg-dark">
                            <img class="card-img-top" src="assets/images/flower.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title5</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-light btn-sm">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="card mb-4 text-white bg-dark">
                            <img class="card-img-top" src="assets/images/flower.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title6</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-light btn-sm">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-------------------flipper card ui-------------------->
    <!-- Team -->
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">OUR TEAM</h5>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg" alt="card image"></p>
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Sunlimetech</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->

            </div>
        </div>
    </section>
    <!-- Team -->
</body>
