<body ng-app="navHeaderApp">
    <div class="top">
        <div class="wrapper">
            <div class="top-flex">
                <div class="top-left"> 
                    <p class="h-call">
                        <strong>
                            <i class="fa fa-phone"></i>  24 HOURS EMERGENCY CARE
                        </strong> : <a href="">+91-9108683138 | info@msbssecure.com</a>
                    </p>  
                    <p class="h-call-login">
                        <span>Login/SignUp</span>
                        <!--<i class="fa fa-phone"></i>-->
                    </p> 
                </div>
            </div>
        </div>
    </div>
    <div class="wrap header">
        <div class="wrapper">
            <div class="header-flex">
                <div class="logo">
                    <a ui-sref="navHeader.home" ng-click="close()"><img alt="inspireLogo" src="assets/images/MSBSMindfulnessLogo.png"></a>
                </div>
                <a class="trigger"><i class="fas fa-bars" aria-hidden="true"></i></a>
                <ul class="nav">
                    <li ui-sref-active="activeNav"><a ui-sref="navHeader.home" ng-click="close()">Home</a></li>
                    <li ui-sref-active="activeNav"><a ui-sref="navHeader.doctors" ng-click="close()">Doctors</a></li>
                    <li ui-sref-active="activeNav"><a ui-sref="navHeader.patients" ng-click="close()">Patients</a></li>
                    <li ui-sref-active="activeNav"><a ui-sref="navHeader.facility" ng-click="close()">Facilities</a></li>
                    <li ui-sref-active="activeNav"><a ui-sref="navHeader.speciality" ng-click="close()">Specialities</a></li>
                    <li ui-sref-active="activeNav"><a ui-sref="navHeader.farmacy" ng-click="close()">Pharmacy</a></li>
                    <!--<li ui-sref-active="activeNav"><a ui-sref="navHeader.healthCheckUp" ng-click="close()">Health Checkup</a></li>-->
                    <!--<li ui-sref-active="activeNav"><a ui-sref="navHeader.insurance" ng-click="close()">Insurance</a></li>-->
                    <li ui-sref-active="activeNav"><a ui-sref="navHeader.about" ng-click="close()">About Us</a></li>
                    <li ui-sref-active="activeNav"><a ui-sref="navHeader.contactUs" ng-click="close()">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ui-view="" autoscroll="false"></div>
    <div class="ipn0 footer ng-scope">
        <div class="wrapper">
            <div class="footer-center">
                <div class="footer-social"> <a href=""><i class="fab fa-facebook"></i></a> <a href=""><i class="fab fa-twitter"></i></a> <a href=""><i class="fab fa-linkedin-in"></i></a> <a href=""><i class="fas fa-wifi"></i></a> </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="p-4">
                        <h5>Contact</h5>
                        <div>
                            <p class="text-muted"><i class="fa fa-map-marker text-muted"></i> 
                                Mammoottil (H), Thuruthicadu P.O, Kallooppara<br>
                                Pathanamthitta, Kerala, India 689597
                            </p>
                        </div>
                        <div>
                            <b>24 HOURS EMERGENCY CARE </b><br>
                            <a href=""><i class="fa fa-phone text-muted"></i> <span class="text-muted">0910883138</span></a> , 
                            <a href=""><i class="fa fa-phone text-muted"></i> <span class="text-muted">0755845555</span></a>
                            <br><b>FOR APPOINTMENTS</b>
                            <a href="" class="dp"><i class="fa fa-phone text-muted"></i> <span class="text-muted">04692783653</span></a>
                            <a href="mailto:info@msbssecure.com" style="display:block;"><i class="fa fa-envelope text-muted"></i> <span class="text-muted">info@msbssecure.com</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="p-4 container-sm">
                        <h5 class="text-center">Quick links</h5>
                        <ul class="row">
                            <div class="col-md-12 col-sm-6 col-6 p-2"><li><i class="fa fa-angle-double-right text-muted" aria-hidden="true"></i><a class="text-muted" ui-sref="navHeader.home" ng-click="close()"> Home</a></li></div>
                            <div class="col-md-12 col-sm-6 col-6 p-2"><li><i class="fa fa-angle-double-right text-muted" aria-hidden="true"></i><a class="text-muted" ui-sref="navHeader.doctors" ng-click="close()"> Doctors</a></li></div>
                            <div class="col-md-12 col-sm-6 col-6 p-2"><li><i class="fa fa-angle-double-right text-muted" aria-hidden="true"></i><a class="text-muted" ui-sref="navHeader.patients" ng-click="close()"> Patients</a></li></div>
                            <div class="col-md-12 col-sm-6 col-6 p-2"><li><i class="fa fa-angle-double-right text-muted" aria-hidden="true"></i><a class="text-muted" ui-sref="navHeader.facility" ng-click="close()"> Facilities</a></li></div>
                            <div class="col-md-12 col-sm-6 col-6 p-2"><li><i class="fa fa-angle-double-right text-muted" aria-hidden="true"></i><a class="text-muted" ui-sref="navHeader.speciality" ng-click="close()"> Specialities</a></li></div>
                            <div class="col-md-12 col-sm-6 col-6 p-2"><li><i class="fa fa-angle-double-right text-muted" aria-hidden="true"></i><a class="text-muted" ui-sref="navHeader.farmacy" ng-click="close()"> Pharmacy</a></li></div>
                            <!--<li><a ui-sref="navHeader.healthCheckUp" ng-click="close()">Health Checkup</a></li>-->
                            <!--<li><a ui-sref="navHeader.insurance" ng-click="close()">Insurance</a></li>-->
                            <div class="col-md-12 col-sm-6 col-6 p-2"><li><i class="fa fa-angle-double-right text-muted" aria-hidden="true"></i><a class="text-muted" ui-sref="navHeader.about" ng-click="close()"> About Us</a></li></div>
                            <div class="col-md-12 col-sm-6 col-6 p-2"><li><i class="fa fa-angle-double-right text-muted" aria-hidden="true"></i><a class="text-muted" ui-sref="navHeader.contactUs" ng-click="close()"> Contact Us</a></li></div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-4 text-center"> <!--footer-block-->
                        <h5>Opening Hours</h5>
                        <h1><b>24/7</b></h1>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-4">
                        <h5>Location</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15553.173939861512!2d77.5741652!3d12.9530626!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x86d449283db13903!2sMedcare+Hospital!5e0!3m2!1sen!2sin!4v1529476447111" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <div class="footer-flex">











                <!--                <div class="footer-block">
                                    <h3>Quick links</h3>
                                    <ul>
                                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a ui-sref="navHeader.home" ng-click="close()">Home</a></li>
                                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a ui-sref="navHeader.doctors" ng-click="close()">Doctors</a></li>
                                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a ui-sref="navHeader.patients" ng-click="close()">Patients</a></li>
                                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a ui-sref="navHeader.facility" ng-click="close()">Facilities</a></li>
                                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a ui-sref="navHeader.speciality" ng-click="close()">Specialities</a></li>
                                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a ui-sref="navHeader.farmacy" ng-click="close()">Farmacy</a></li>
                                        <li><a ui-sref="navHeader.healthCheckUp" ng-click="close()">Health Checkup</a></li>
                                        <li><a ui-sref="navHeader.insurance" ng-click="close()">Insurance</a></li>
                                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a ui-sref="navHeader.about" ng-click="close()">About Us</a></li>
                                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a ui-sref="navHeader.contactUs" ng-click="close()">Contact Us</a></li>
                                    </ul>
                                </div>-->


            </div>
        </div>
    </div>
</body>

